@import url(https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;200;300;400;500;600;800;900&display=swap);
.container {
  margin: 0 auto;
  width: 1366px;
}

nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
  gap: 24px;
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 400;
}
.xod {
  width: 330px;
  height: 422px;
  margin-top: 30px;
}
.h2 {
  font-size: 20;
  margin-top: 5px;
  font-weight: 400;
}
.yon {
  display: flex;
}
.img1 {
  margin-left: 155px;
}
.maroon_h1 {
  width: 100%;
  height: 422px;
  text-align: center;
  margin-top: 30px;
}

.for {
  margin-top: 100px;
}
.high {
  width: 1310px;
  height: 349px;
  top: 790px;
  left: 98px;
  background-color: #ca1d1d;
}

.flex {
  display: flex;
  justify-content: space-around;
}
.maroon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
}
.item1 {
  width: 214px;
  height: 200px;
  top: 846px;
  left: 98px;
  border-radius: 2px;
  border: 1px;
}
.btn {
  margin-top: 30px;
}
.rest {
  margin-top: 200px;
  display: flex;
  /* border: 1px solid #000; */
}
.rest__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-width: 230px;
  width: 100%;
  height: 312px;
  margin-left: 50px;
  background-image: url("../src/images/img4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 230px auto;
  margin-bottom: 200px;
}
.h3 {
  margin-bottom: -10px;
  margin-left: 10px;
}
.rest__item:nth-child(3) {
  background-image: url("../src/images/img5.png");
}
.rest__item:nth-child(5) {
  background-image: url("../src/images/img7.png");
}

.name {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 400px;
  background-image: url("../src/images/img8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1366px 400px;

  .top {
    margin-right: 230px;
  }
}

.anketa {
  display: flex;
  margin-top: 250px;
}
.uxod {
  margin-left: 150px;
}
.faktor {
  margin-left: 150px;
}
.flowers {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 400px;
  background-image: url("../src/images/Flowers.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1366px 400px;
}
.flowers_p {
  margin-right: 350px;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.flowers-btn {
  margin-top: 200px;
}
.adres {
  display: flex;
  margin-top: 100px;
  margin-left: 150px;
}
.adres_p {
  margin-left: 100px;
}
.ins {
  margin-top: 10px;
  margin-left: 20px;
}
.tws {
  margin-left: 20px;
}
